<div id="banner">
    <div class="logoBox">Rails Project</div>
    <div id="separator"> | </div>
    <div class="page-title">Listing Articles</div>
</div>

<%= link_to 'Home', root_path %>
</br>
</br>

<table>
  <tr>
    <%= link_to 'New Article', new_article_path %>
  </tr>

  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
